<div id="contentDiv0" style="background:#fff;padding-bottom:20px;zoom:1;position:relative;z-index:1;"
  class="qm_bigsize qm_converstaion_body body qmbox qqmail_webmail_only">
  <table width="100%" bgcolor="#fff" cellpadding="0" cellspacing="0" align="center"
    style="font-family:Helvetica, Arial, sans-serif;font-weight:300">
    <tbody>
      <tr>
        <td>
          <table align="center" border="0" cellspacing="0" cellpadding="0"
            style="border: 1px solid #eee;max-width:560px;">
            <tbody>
              <tr>
                <td>
                  <div style="display:block;background-color:#e85d4e;height:10px;"></div>
                </td>
              </tr>
              <tr>
                <td style="background-color:#fff" bgcolor="#fff">
                  <table width="520" align="center" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr valign="top">
                        <td width="520" bgcolor="#fff" align="left">
                          <div
                            style="margin:30px 0px 20px 15px; font-family: Lucida Grande, Arial, Helvetica, Geneva, Verdana, sans-serif; color:#333;font-size:16px;line-height:1.3em; ">
                            <strong><a href="mailto:{{email}}" rel="noopener" target="_blank">{{email}}</a>，您好！</strong>
                          </div>
                          <div
                            style="margin:0px 0px 20px 15px; font-family: Lucida Grande, Arial, Helvetica, Geneva, Verdana, sans-serif; border-top: 1px solid #eee; font-size:12px;line-height:1.3em;">
                            <h4 style="font-size:14px;line-height:1.4em;font-weight:bold;">感谢您对 史莱姆博客 的支持。</h4>
                            <p style="font-size:14px;line-height:1.4em;">您的 博客 帐号为：<strong style="font-weight:bold;"><a
                                  href="mailto:{{email}}" rel="noopener" target="_blank">{{account}}</a></strong>.</p>
                          </div>
                          <p
                            style="margin:0px 0px 20px 15px; font-family: Lucida Grande, Arial, Helvetica, Geneva, Verdana, sans-serif; font-size:12px;line-height:1.3em;">
                            邮箱验证成功后，您可以使用邮箱作为登录帐号。
                          </p>
                          <table cellpadding="0" cellspacing="0"
                            style="padding: 0;margin: 20px auto 30px;border:0;width: 213px;">
                            <tbody>
                              <tr>
                                <td id="bottom-button-bg" valign="top" align="center"
                                  style="border-radius: 3px;padding: 12px 20px 16px 20px;background-color: #e85d4e;">
                                  <a id="bottom-button"
                                    href="{{validateUrl}}"
                                    target="_blank"
                                    style="font-family: Helvetica, Arial, sans-serif;font-size: 16px;color: #FFFFFF;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;text-align: center;text-decoration: none;display: block;margin:0;cursor: pointer;"
                                    rel="noopener">
                                    验证邮箱
                                  </a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <p style="margin:0px 0px 20px 15px; font-family: Lucida Grande, Arial, Helvetica, Geneva, Verdana, sans-serif; font-size:12px;line-height:1.3em;">
                            如果按钮无法点击，请点击以下链接进行验证：
                          </p>
                          <p
                            style="margin:0px 0px 20px 15px; font-family: Lucida Grande, Arial, Helvetica, Geneva, Verdana, sans-serif; font-size:12px;line-height:1.3em;">
                            <a style="color:#0088CC;" href="{{validateUrl}}" rel="noopener"
                              target="_blank">{{validateUrl}}</a>
                          </p>
                          <p
                            style="margin:0px 0px 20px 15px; font-family: Lucida Grande, Arial, Helvetica, Geneva, Verdana, sans-serif; font-size:12px;line-height:1.3em;">
                            如果以上链接无法点击，请将上面的地址复制到您的浏览器(如IE)的地址栏进入 史莱姆博客官网
                            （该链接在{{validateTimeString}}内有效，{{validateTimeString}}后需要重新获取）。</p>
                          <div
                            style="margin:0px 15px 20px 15px; border-top: 1px solid #eee; padding-top: 15px; font-family: Lucida Grande, Arial, Helvetica, Geneva, Verdana, sans-serif; color:#999;font-size:12px;line-height:1.4em; ">
                            (该邮件由 史莱姆博客通知业务系统自动发送，请勿直接回复)
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr valign="top" style="background-color:#f2f6f7">
                <td width="560">
                  <div style="color:#999;margin:30px 0"></div>
                  <div
                    style="font-family:Geneva,Verdana,Arial,Helvetica,sans-serif;color:#999; padding:15px 25px 0px 35px;">
                    <img width="111">
                    <span style="float:right;">
                      {{!-- <a style="padding:0px;margin:0px 7px 0px 0px;text-decoration:none; color:#fff;"
                        href="http://etrack03.com/track/click/eyJtYWlsbGlzdF9pZCI6IDAsICJ0YXNrX2lkIjogIiIsICJlbWFpbF9pZCI6ICIxNTY0MzIxODU1MTg4XzgzOTg2XzEwMDU3XzI5NjIuc2MtMTBfOV80XzQ4LWluYm91bmQwJDQ3ODg4OTE4N0BxcS5jb20iLCAic2lnbiI6ICI4MTY3OTE0MzgzOTRlNzBjZWMxY2ZhMGRjMWQyMTg4MCIsICJ1c2VyX2hlYWRlcnMiOiB7fSwgImxhYmVsIjogIjE4NTk0OTMiLCAibGluayI6ICJodHRwJTNBLy93d3cueG1pbmQubmV0L2Jsb2cvY24vIiwgInVzZXJfaWQiOiA4Mzk4NiwgImNhdGVnb3J5X2lkIjogMTQzMjk2fQ==.html"
                        rel="noopener" target="_blank">
                        <img height="26" style="border:0;" width="26">
                      </a>
                      <a style="padding:0px;margin:0px 7px 0px 0px;text-decoration:none; color:#fff;"
                        href="http://etrack03.com/track/click/eyJtYWlsbGlzdF9pZCI6IDAsICJ0YXNrX2lkIjogIiIsICJlbWFpbF9pZCI6ICIxNTY0MzIxODU1MTg4XzgzOTg2XzEwMDU3XzI5NjIuc2MtMTBfOV80XzQ4LWluYm91bmQwJDQ3ODg4OTE4N0BxcS5jb20iLCAic2lnbiI6ICI2ZWYxMDUxNGNiYzI1MTY2NTBmODE1ODM5OWE3Yzk0YSIsICJ1c2VyX2hlYWRlcnMiOiB7fSwgImxhYmVsIjogIjE4NTk0OTMiLCAibGluayI6ICJodHRwJTNBLy93ZWliby5jb20veG1pbmRjbiIsICJ1c2VyX2lkIjogODM5ODYsICJjYXRlZ29yeV9pZCI6IDE0MzI5Nn0=.html"
                        rel="noopener" target="_blank">
                        <img height="26" style="border:0;" width="26">
                      </a>
                      <a style="padding:0px;margin:0px 7px 0px 0px;text-decoration:none; color:#fff;"
                        href="http://etrack03.com/track/click/eyJtYWlsbGlzdF9pZCI6IDAsICJ0YXNrX2lkIjogIiIsICJlbWFpbF9pZCI6ICIxNTY0MzIxODU1MTg4XzgzOTg2XzEwMDU3XzI5NjIuc2MtMTBfOV80XzQ4LWluYm91bmQwJDQ3ODg4OTE4N0BxcS5jb20iLCAic2lnbiI6ICI5NmFkZWI4NzVjMmVhMmM3MWFmMzA0YWZjODEwZmVmMiIsICJ1c2VyX2hlYWRlcnMiOiB7fSwgImxhYmVsIjogIjE4NTk0OTMiLCAibGluayI6ICJodHRwcyUzQS8vbXAud2VpeGluLnFxLmNvbS9zJTNGX19iaXolM0RNelUwTVRBeU5qa3dNdyUzRCUzRCUyNm1pZCUzRDIyNDc0ODM4NjUlMjZpZHglM0QyJTI2c24lM0Q0MGZlNTQ3M2NiYzM4YTA4MGRjMTRhMDczNjcxYmEwNCIsICJ1c2VyX2lkIjogODM5ODYsICJjYXRlZ29yeV9pZCI6IDE0MzI5Nn0=.html"
                        rel="noopener" target="_blank">
                        <img height="26" style="border:0;" width="26">
                      </a> --}}
                    </span>
                  </div>
                  <div style="color:#999; padding:15px 0px 0px 35px;font-size:12px;font-weight:300;">
                    <p>如您需要更多帮助，欢迎联系我们：</p>
                    <p>业务支持：<a href="mailto:{{supportEmail}}" style="color: #999;" rel="noopener"
                        target="_blank">{{supportEmail}}</a></p>
                    <p>帮助中心：<a
                        href="http://etrack03.com/track/click/eyJtYWlsbGlzdF9pZCI6IDAsICJ0YXNrX2lkIjogIiIsICJlbWFpbF9pZCI6ICIxNTY0MzIxODU1MTg4XzgzOTg2XzEwMDU3XzI5NjIuc2MtMTBfOV80XzQ4LWluYm91bmQwJDQ3ODg4OTE4N0BxcS5jb20iLCAic2lnbiI6ICI4NzY3NDM0N2JhODU3ZGVlNWM1M2E2MDFhOWJiNmFiMiIsICJ1c2VyX2hlYWRlcnMiOiB7fSwgImxhYmVsIjogIjE4NTk0OTMiLCAibGluayI6ICJodHRwJTNBLy9zdXBwb3J0LnhtaW5kLm5ldC8iLCAidXNlcl9pZCI6IDgzOTg2LCAiY2F0ZWdvcnlfaWQiOiAxNDMyOTZ9.html"
                        style="color: #999;" rel="noopener" target="_blank">{{host}}</a></p>
                    <p>{{copyRight}}</p>
                  </div>
                </td>
              </tr>
              <tr></tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>

  <br><br>
  <div style="width:1px;height:0px;overflow:hidden"><img style="width:0;height:0"></div>
  <div style="text-align:center">
    <div style="border-top:1px solid #ddd;width: 100%;max-width: 560px;display:inline-block;padding:10px"><a
        style="display:inline-block;background:#ddd; border-radius:4px;padding: 3px 15px;color:#a6a6a6;text-decoration:none;font-size:12px"
        href="http://etrack03.com/track/unsubscribe.do?p=eyJ1c2VyX2lkIjogODM5ODYsICJ0YXNrX2lkIjogIiIsICJlbWFpbF9pZCI6ICIxNTY0MzIxODU1MTg4XzgzOTg2XzEwMDU3XzI5NjIuc2MtMTBfOV80XzQ4LWluYm91bmQwJDQ3ODg4OTE4N0BxcS5jb20iLCAic2lnbiI6ICIxZjI0NDgwYTIzN2YwZDNjYzlmMmYzZTgwNDVmNTBlYyIsICJ1c2VyX2hlYWRlcnMiOiB7fSwgImxhYmVsIjogIjE4NTk0OTMiLCAicmVjZWl2ZXIiOiAiNDc4ODg5MTg3QHFxLmNvbSIsICJtYWlsbGlzdF9pZCI6IDAsICJjYXRlZ29yeV9pZCI6IDE0MzI5Nn0%3D"
        rel="noopener" target="_blank">点击这里取消订阅<br>注意：此操作后将不再接收本站任何邮件</a></div>
  </div>

</div>